
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* universal style */
/* *{
    margin: 0;
} */

/* shared styles */
.display-flex{
    display: flex;
}
.max-width{
    max-width: 1140px;
}
.span-style{
    color: #E95A08;
}
.decription-texts{
    color: rgba(0, 0, 0, 0.5);
}
.button{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #E95A08;
    padding: 1.1rem 5rem;
    border: none;

}
.shop-now{
  font-weight: 600;
  font-size: 1rem;
}
.shop-now-2{
    font-weight: 600;
    font-size: 1.3rem;
}


/* navbar style */
nav > div > ul {
    list-style-type: none;
    gap: 3rem;
}
.navbar{
    justify-content: space-between;
    margin: 0 auto;
    height: 71px;
    /* border: 1px solid teal; */
    align-items: center;
}
.nav-ul{
 padding:1rem 0;
 /* border: 1px solid tomato; */
}
.menu, .menu-2, .menu-3{
    font-weight:700;
    font-size: 1rem;
}
.menu-2{
    font-weight: 400;
    color: #8987A1;
}

/* banner styles */
.banner{
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 120px;
    height: 460px;
    /* border: 1px solid tomato; */
    align-items: flex-end;
    
    
    
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom:0px;

}
.banner-description{
    margin-top: 0;
    font-size:1.2rem;
}

.banner> img{
    width: 570px;
    height:355px ;
    /* border: 1px solid blueviolet; */
}
.banner-hero{
    display:grid;
    grid-template-rows:1fr ;
    align-content: center;
    width:570px;
    height:300px;
    /* border: 1px solid green; */
}
/* plant sections style */
.plant-sec{
    text-align: center;
    max-width: 1140px;
    margin:120px auto 50px auto;
}
.sec-title{
    font-weight:bold ;
    font-size: 3rem;
    margin-bottom: 16px;
}
.sec-description{
    font-size:1.25erm;
    width: 880px;
    margin: 0 auto;
    
}
/* cards section style */
.card-container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 210px;
}
.cards{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    height:100%;
}

.flower-name-price{
    margin-top:0px;
}
.flower-name{
    font-weight: 500;
    font-size: 1.35rem;
    margin-bottom:0px;
}
.flower-price{
    font-size: 1.35rem;
    font-weight: 700;
    margin-top:0;
}









/* latest deals style */
.latest-deals{
    max-width: 1140px;
    text-align:center;
    margin: 0 auto;
    margin-bottom: 120px;
}
.latest-deals-title{
    font-weight:700 ;
    font-size:3rem ;
    margin-bottom: 0;

}
.latest-deals-description{
    font-size: 1.25rem;
    width: 880px;
    height: 54px;
    margin: 0 auto;
    margin-top: 1rem;
}

/* flower and plant lover section style */
.plant-lover-sec{
    flex-direction: column;
    max-width: 1140px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    /* top: 100px; */
    width: 100%;


}
.challenge-img{
    text-align: center;
    margin-bottom: -100px;
    position: absolute;
    top:-150px;
    left:400px ;
    

    

}

.img-and-others{
    align-items: center;
}

.others{
    margin-left: 70px;

}
.others h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;

}

.others > ul >li{
    font-size: 1.25rem;
    margin-bottom: 20px;

}

/* challange for me */

.bloom-plants{
    grid-area:bloom-plants ;
}
.ana-plants{
    grid-area:ana-plants ;
}
.zabo-plants{
    grid-area:zabo-plants ;
}
.latest-plants{
    display: grid;
    grid-template-areas: 
    "bloom-plants zabo-plants zabo-plants"
    "ana-plants   zabo-plants zabo-plants"
    
    ;
    
    max-width: 1140px;
    /* justify-content: space-between; */
    align-items: center;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom:120px ;
    color: white;
    gap:30px ;
}
.bloom-plants h3, p{
    margin: 0;
}
.ana-plants h3, p{
    margin: 0;
}
.zabo-plants h3, p{
    margin: 0;
}

.bloom-plants{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* grid-template-columns: 1fr; */
    /* align-items: center; */
    background-image:linear-gradient( rgba(0,0,0,0.4)),url(../assets/deal-bloom.png);
    background-repeat:no-repeat;
    background-size:cover ;
    width:100%;
    height:200px;
    /* padding: 65px 0; */
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
    border-radius:14px;

}

.ana-plants{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient( rgba(0,0,0,0.4)), url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:200px;
    /* padding: 65px 0; */
    font-weight: bold;
    font-size:1.2rem;
    margin-top: 0;
    border-radius:14px;
}
.zabo-plants{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient( rgba(0,0,0,0.4)), url(../assets/deal-zabo.png);
    background-repeat:no-repeat ;
    background-size: cover;
    width:100%;
    height:100%;
    /* padding: 65px 0; */
    font-weight:bold ;
    font-size:2.5rem ;
    border-radius:22px;
}




/* responsive for mobile useing media query */

@media screen and (max-width:580px) {
    
   .menu, .menu-2{
    display:none;
   }
   .banner{
    flex-direction: column-reverse;
    margin-top:1.3rem;
    /* gap:28px ; */
   }
   .banner> img{
    width: 100%;
   }
   .banner-title{
    margin-top: auto;
    font-size:2rem ;

   }
   .banner-description{
    font-size: 14px;
   }
   .banner-hero{
    width:100% ;
   }
   .plant-sec{
    margin-top: 45px;
    text-align: center;

   }
   .sec-title{
    font-size:30px;
    width:100%;
   }
   .sec-description{
    width:100%;
   }

   .card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-bottom:40px;
   }
   .cards > img {
    width: 100%;
   }
   .button{
    /* width: 100%; */
    font-size:16px;
    width: 170px;
    height: 50px;
    padding:15px 15px ;

   }
   .latest-deals-description{
     width: 100%;
   }
   .latest-plants{
    display: flex;
    flex-direction: column;
    width: 100%;
   }
   .zabo-plants{
    width:100%;
    height:200px;
    /* padding: 65px 0; */
    font-weight:bold ;
    font-size:1.2rem ;
    border-radius:8px;
}
.others{
    margin: 0;
    width: 100%;
}

.others h1{
    font-size:30px;
    margin-top: 10px;
}

.challenge-img{
    display: none;
}
.img-and-others{
    flex-direction: column;
}
.plant-lover-sec-img > img{
    margin-top: 0;
    width:100% ;

}
    
}